@tailwind base;
@tailwind components;
@tailwind utilities;

html {
      scroll-behavior: smooth;
}

.bg-thumbnail {
 background: linear-gradient(0deg, rgb(34, 35, 38) 10%, rgba(33, 34, 37, 0.89) 42%, rgba(34, 35, 38, 0) 156%), url("./assets/image 1.png") center top / cover;
}

body {
    background-color: #181a1b;
    color: white;
    font-family: "Inter", sans-serif;
}

.glass-bg {
    background: linear-gradient(
        166deg,
        rgba(114, 114, 114, 0.3) 60%,
        rgba(255, 255, 255, 0.02) 100%
    );
    transition: background 0.15s linear;
    backdrop-filter: blur(2px);

}

.glass-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: .75rem;
    padding: 0.5px;
    background: linear-gradient(
        166deg,
        rgba(114, 114, 114, 0.6) 10%,
        rgba(255, 255, 255, 0.0002) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}